* {
  box-sizing: border-box;
}

:root {
  --body-bg-color: #110032;
  --primary-color: #241442;
  --primary-shadow: rgb(0 0 0 / 0.25);
  --secondary-color: #7400e4;
  --accent-color: #7400e4;
  --gradient-color: linear-gradient(to right, #7944e7, #8300ab);
  --cta-color: #a200d4;
  --text-color: #fff;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  color: var(--text-color);
  background-color: var(--body-bg-color);
  font-family: 'DM Mono', monospace;
  user-select: none;
}

.password-generator {
  padding: 2.25rem;
  width: 95%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .password-generator {
    width: 75%;
  }
}

.password {
  height: 60px;
  width: 100%;
  margin-bottom: 1rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  color: inherit;
  background-color: var(--primary-color);
  box-shadow: 0 4px 4px var(--primary-shadow);
  text-align: center;
  font-size: 0.9rem;
  font-family: inherit;
}

@media screen and (min-width: 768px) {
  .password {
    font-size: 1.25rem;
  }
}

.range-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  padding: 1.25rem;
  background-color: var(--primary-color);
  box-shadow: 0 4px 4px var(--primary-shadow);
  border-radius: 0.5rem;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.range-label {
  display: block;
  letter-spacing: 4px;
  margin-bottom: 1rem;
}

.range-input {
  height: 3px;
  width: 80%;
  accent-color: var(--accent-color);
}

.input-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  margin-bottom: 1rem;
  padding: 20px;
  border-radius: 0.5rem;
  background-color: #241442;
}

.option-input {
  display: none;
}

.option-label {
  position: relative;
  display: flex;
  align-items: center;
  width: 75px;
  height: 40px;
  border-radius: 2rem;
  background-color: grey;
  transition: background-color 0.3s;
}

.option-label::after {
  content: '';
  position: absolute;
  left: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  transition: transform 0.3s;
}

.option-input:checked + .option-label {
  background-color: #7400e4;
}

.option-input:checked + .option-label::after {
  transform: translateX(100%);
}

.button {
  height: 60px;
  width: 100%;
  border: none;
  color: inherit;
  background-image: var(--gradient-color);
  box-shadow: 0 4px 4px var(--primary-shadow);
  border-radius: 0.5rem;
  font-size: 1rem;
  letter-spacing: 4px;
  cursor: pointer;
  transition: transform 0.2s;
}

.button:not(:disabled):hover {
  transform: scale(0.95);
}

.button:disabled {
  background-image: none;
  cursor: not-allowed;
}
