body {
  background-color: #333;
  color: aliceblue;
  font-family: sans-serif;
}

.title {
  text-align: center;
}
.colors,
.language {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
